* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: #292929;
  font-family: var(--font-title);
  letter-spacing: 1.2px;
}
h3 {
  font-family: var(--font-title);
  letter-spacing: 0.2px;
}
p {
  color: #525252;
}
span {
  color: #97acd3;
}

.prata {
  background-color: #efefef;
  padding: 1rem;
  width: 350px;
  height: 350px;
}
.ouro {
  background-color: #141414;
  padding: 1rem;
  width: 400px;
  height: 400px;
}
main {
  margin-top: 5rem;
  display: flex;
  width: 100vw;
  gap: 1rem;
}
.titlePrata {
  color: #304c81;
}
.titleOuro {
  color: #a7b8d7;
}

ul {
  list-style-type: none;
}

button {
  padding: 10px 20px;
  font-family: var(--font-title);
  font-size: 18px;
  background-color: #a7b8d7;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: #0c1932;
  cursor: pointer;
}

.priceTitle {
  display: flex;
  gap: 8rem;
  text-align: right;
}
